#menu_1 {
    background: url('../img/background.png');
}
h3 {
    margin-bottom: 40px;
	font-family:Viner Hand ITC;
	font-size: 100px;
}
ul.menu {
    width: 0 auto;
    margin: 0 auto;
}
ul.menu a {
    background: hsl(200, 80%, 50%);
    min-width: 160px;
    padding: 10px 0;
    margin: 2px;
    color: hsl(0, 0%, 100%);
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
    display: block;
    text-decoration: none;
}
ul.menu a:hover {
    background-color: hsl(200, 80%, 35%);
}
ul.menu i {
    float: right;
    margin-right: 15px;
    font-size: 20px;
}
ul.menu li {
    list-style: none;
    text-align: center;
}
ul.menu > li {
    float: left;
}
ul.menu .dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 160px;
    z-index: -1;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition: all 0.3s ease-out;   
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
ul.menu .dropdown li {
    position: relative;
}
ul.menu .dropdown ul {
    right: -162px;
    top: 10px;
}
ul.menu li:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}